.theme-general{
        --color-primary: theme("colors.red.200");
        --color-secondary:theme("colors.red.500");
        --color-tertiary:theme("colors.black");
}

@tailwind base;
@tailwind components;
@tailwind utilities;